<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>User</title>
    <style>table th, table td {padding: 5px;}</style>
    <style>
        <!--
        .tab { margin-left: 60px; }
        -->
    </style>
</head>

<body>
<h1 class="tab">User list</h1>


<table border="1">
    <tr>
        <th align="center">Id</th>
        <th align="center">Name</th>
        <th align="center">Last Name</th>
        <th align="center">Email</th>
        <th align="center" th:border="0"> </th>
    </tr>

    <tr th:each="lst : ${list}">
        <td th:text="${lst.id}">id</td>
        <td align="center" th:text="${lst.firstName}">name</td>
        <td align="center" th:text="${lst.lastName}">last_name</td>
        <td align="center" th:text="${lst.email}">email</td>
        <td align="center">
            <form method="post">
            <input type="text" name="del" th:value="${lst.id}">
            <input type="submit" value="Delete">
            </form>
        </td>

    </tr>

</table>
<p>
<form method="post">
    If you want to add a user, enter the data and click the button:<br>
    <p>Name: <input type="text" name="name"><br>
    <p>Last name: <input type="text" name="last_name"><br>
    <p>Email: <input type="text" name="email"><br>
    <p><input type="submit" value="Add" class="tab">
</form>


</body>

</html>